* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	

}
.hi{
	width: 100%;
	min-height: 100vh;
	position: relative;
	background: rgb(34,146,195);
	background: linear-gradient(0deg, rgba(34,146,195,1) 0%, rgba(253,92,45,1) 100%);
	background-position: center;
	background-size: cover;
}
.hello {
	width: 100%;
	top:50%;
	left: 60%;
	transform: translate(-60%, -60%);
	text-align: center;
	color: white;
	position: absolute;
}
.hello h1{
	font-size: 40px;
	color: white;
}
.hello p {
font-size: 25px;
	color: white;
}
a{
	color: black;
}
.hammenu{
	width: 100%;
	background-color: transparent;
	position: fixed;
	box-shadow: 2px 1px 1px 0 rgba(0,0,0,0.2);
	z-index:3;}

.hammenu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	}
.hammenu ul a{
	padding: 15px;
	display: block;
}
.hammenu ul a:hover{
	background-color:#ffb9a2; 
}
.hammenu .menu{
	max-height: 0;
	clear: both;}

.hammenu .ham-icon{
	padding: 30px 25px;
    position: relative;
	float: right;
	outline:1px solid rgba(0,0,0,0.2);
	cursor: pointer;
}
.hammenu .ham-icon .nav-icon{
	width:20px;
	height: 3px;
	display:block;
    background:#323030;
	position: relative;
}
.hammenu .ham-icon .nav-icon:before{
	width: 100%;
	top: 5px;
	height: 100%;
    background:#323030;
	content: "";
	display:block;
	position: absolute;
	}
.hammenu .ham-icon .nav-icon:after{
	width: 100%;
	top: -5px;
	height: 100%;
    background:#323030;
	content: "";
	display:block;
	position: absolute;
	}

.hammenu .menuham{
		display: none;
	}
.hammenu .menuham:checked ~.menu{
			max-height: 300px;}

@media(min-width:1000px)
{
	.hello h1
	{
		font-size: 50px;
	}
	.hammenu li{
		float: left;
	}
	.hammenu li a{
		padding: 30px 40px;

	}
	.hammenu .menu{
		clear: none;
		max-height: none;
		float: right;
	}
	.hammenu .ham-icon{
		display: none;
	}
}

		

.Portfolio {
	min-height: 100vh;
	background: rgb(34,146,195);
background: linear-gradient(0deg, rgba(34,146,195,1) 0%, rgba(253,92,45,1) 100%);

}
.Portfolio h1 {
	font-size: 50px;
	text-decoration: underline;
	position: center;
	text-align: center;
	padding: 50px;
	color: white;
}
.grid{
	position: absolute;
	justify-content: center;
	margin-top: 10px;
	align-items: center;
	width: 100vw;
	display: grid;
 grid-template-columns: repeat(auto-fill,minmax(300px,300px));
 column-gap: 1px;
	grid-row-gap:50px;
}
img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
}
@media (max-width: 1000px) {
	#Portfolio {
		display: block;
		width: 100%;
		text-align:center;
	}
	#Portfolio .grid {
		
		width: 100%;
	}
}
.CONTACTME {
	height: 100vh;
	width: 100%;
	margin: auto;
	padding: 100px;
	background-position: center;
	padding-bottom: 2%;
	margin: auto;
	background-size: cover;
	background: rgb(34,146,195);
background: linear-gradient(0deg, rgba(34,146,195,1) 0%, rgba(253,92,45,1) 100%);
		position: relative;
}

.h1{
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
}
.contactbox h1 {
 text-align: left;
 color: black;
 text-decoration: none;
 padding: 20px;
 font-size: 30px;
}
.contactbox p {
	text-align: left;
	color: black;

}
.contactbox{
	display: grid;
	align-content:space-between;
	grid-gap: 6px;
	padding: 20px;
	grid-template-columns: auto auto;

}
.form-info {
	font-size: 16px;
	font-style: italic;
	color: #fff;
	letter-spacing: 1px;
}
input {
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: rgba(136,133,133,0.5);
	color:#fff;
	border:none;
	outline: none;
}
input::placeholder{
	color: #fff;
}
textarea {
	padding: 10px;
	margin: 10px;
	width:70%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border:none;
	outline: none;
}
input::placeholder{
	color:#fff;

}
.sendmsg{
	padding: 5px;
	background: none;
	outline: none;
	width: 25%;
	font-size:15px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 35px;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	margin-left: 3%;
	border: 3px solid rgb(200,200,200);
	color: rgb(190,190,190);

}
.sendmsg:hover;{
	border:1px solid:#fff;
	color: white;
	cursor: pointer;
}

@media (max-width: 1000px){
	#CONTACTME .contactbox{
		display: block;
		width: 100%;
		text-align: center;
	}
	#CONTACTME .sendmsg {
		width: 60%;
	}
}
.resume {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(100px,auto);
	box-sizing: border-box;
		background: rgb(34,146,195);
background: linear-gradient(0deg, rgba(34,146,195,1) 0%, rgba(253,92,45,1) 100%);
	border-bottom: 1px solid red;

}
.h2{
	font-size: 30px;
	text-decoration: underline;
	text-underline-position: under;
				letter-spacing: 1px;
		padding: 20px;
		color: white;
	}

.resume1 {
	background-color: transparent;


}
.resume2{
	background-color: transparent;
}
.resume h1{
	
	font-size: 30px;
	text-align: left;
	font-weight: bold;
	}
.resume p{	
	color: black;
	font-size: 18px;
	text-align: left;
}
.resume h2{
	color: black;
	opacity: 0.8;
	text-align: left;
	font-size: 20px;
	
	text-decoration: underline;
	text-underline-position: under;
}
.resume h3{
	color: black;
	font-size: 15px;
	text-align: left;
	
}
.introduction{
	margin-left: 15px;
}
.pd{
	margin-left: 15px;
	
}
.aq{
	margin-left: 15px;
	
}
.exp{
	margin-left: 15px;
	}
.sk{
	margin-left: 15px;
	}
.lng{
	margin-left: 15px;
	
}

	
@media (max-width: 1000px){
	#resume .resume1{
		display: block;
		width: 100%;
		text-align: center;
	}
	#resume .resume2 {
		width: 60%;
		display: block;
		text-align: center;
	}