* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	

}
.hi
{
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/yay.jpeg);
	position: relative;
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content: flex-end;
	align-items: center;
}
.links{
	flex:1;
	text-align: right;
}
.links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.links ul li a
{
	color: #fff;
	text-decoration: none;
	font-size:20px;

}

.links ul li::after {
	content: '';
	width:0%;
	height: 2px;
	background: #f44336;
	display:block;
	margin: auto;

}
.links ul li:hover::after {
	width:100%;
}
.hello {
	width: 100%
	color: #fff;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-60%, -60%);
	text-align: center;
}
.hello h1{
	font-size: 40px;
	color: white;
}
.hello p {
font-size: 25px;
	color: white;
}
@media(max-width:1000px)
{
	.hello h1
	{
		font-size: 50px;
	}
	.links ul li{
		display: block;
	}
	.links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: 0;
		text-align: left;
		z-index: 2;
	}
}
.menu
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.menu .toggler {
	position:absolute;
	top:0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
		opacity: 0;}


.Portfolio {
	min-height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/yay.jpeg);


}
.Portfolio h1 {
	font-size: 50px;
	font-family: fantasy;
	position: center;
	text-align: center;
	padding: 20px;
	color: white;
}
.grid{
	position: absolute;
	justify-content: center;
	margin-top: 10px;
	align-items: center;
	width: 100vw;
	display: grid;
 grid-template-columns: repeat(auto-fill,minmax(300px,300px));
 column-gap: 1px;
	grid-row-gap:50px;
}
img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
}
@media (max-width: 1000px) {
	#Portfolio {
		display: block;
		width: 100%
		text-align:center;
	}
	#Portfolio .grid {
		di
		width: 100%;
	}
}
.CONTACTME {
	height: 100vh;
	width: 100%;
	margin: auto;
	padding: 90px;
	background-position: center;
	padding-bottom: 2%
	background-size: cover;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/yay.jpeg);
	position: relative;
}

.contactinformation h1{
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	color: black;
	letter-spacing: 1px;

}
.contactbox h1 {
 text-align: left;
 color: black;
 text-decoration: none;
 padding: 20px;
}
.contactbox p {
	text-align: left;
	color: black;

}
.contactbox{
	display: grid;
	align-content:space-between;
	grid-template-columns: auto auto;
	grid-gap: 5px;
	padding: 20px;
}
.form-info {
	font-size: 16px;
	font-style: italic;
	color: #fff;
	letter-spacing: 1px;
}
input {
	padding: 10px;
	margin: 10px;
	width: 70%;
	background-color: rgba(136,133,133,0.5);
	color:#fff;
	border:none;
	outline: none;
}
input::placeholder{
	color: #fff;
}
textarea {
	padding: 10px;
	margin: 10px;
	width:70%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border:none;
	outline: none;
}
input::placeholder{
	color:#fff;

}
.sendmsg{
	padding: 4px;
	background: none;
	outline: none;
	width: 25%;
	font-size:13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	margin-left: 3%;
	border: 3px solid rgb(190,190,190);
	color: rgb(190,190,190);

}
.sendmsg:hover;{
	border:1px solid:#fff;
	color: #fff;
	cursor: pointer;
}

@media (max-width: 1000px){
	#CONTACTME .contactbox{
		display: block;
		width: 100%;
		text-align: center;
	}
	#CONTACTME .sendmsg {
		width: 60%;
	}
}
.resume {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(100px,auto);
	grid
	box-sizing: border-box;
	border: 1px solid black;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/yay.jpeg);
	border-bottom: 1px solid red;

}
.resume1 {
	background-color: transparent;


}
.resume2{
	background-color: transparent;
}
.resume h1{
	color: black;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	font-family: unset;
	text-decoration: underline;
}
.resume h2{
	color: black;
	opacity: 0.8;
	text-align: center;
	font-size: 20px;
	font-family: unset;
	text-decoration: underline;
}
.resume h3{
	color: black;
	font-size: 15px;
	text-align: center;
	font-family: unset;
}
.pd{
	margin-left: 15px;
	
}
.aq{
	margin-left: 15px;
	
}
.exp{
	margin-right: 500px;
	align-items: center;
	}
.sk{
	margin-left: 15px;
	}
.lng{
	margin-left: 15px;
	
}
.intr{
	margin-left: 15px;
	}